# Web connection
host_IPv4: "0.0.0.0"       # allows RPi to be reached from any network
heartbeat_settings:        # server ping interval, heartbeat timeout
  connected: [5, 15]
  pending: [10, 30]
  failed: [10, 30]
  none: [10, 30]

# Board setup
is_synthetic: false
num_trials: 1
default_serial_port: "/dev/ttyACM0"
serial_port_A: "/dev/ttyACM0"             # default serial port
serial_port_B: ""
mac_address: null          # YAML uses 'null' for Python's None
num_emg_ch: 1
num_accel_ch: 3
selected_channels: [0]

# Data processing
data_acq_buffer_seconds: 2
num_points: 40
board_data_timeout: 1.0

# EMG signal filterings
cutoff_freq: 50
cutoff_order: 4

# Biofeedback
alpha_acc = 0.10 # Dampens rapid Y-axis acceleration spikes
alpha_emg = 0.05 # Smooths out raw EMG muscle firing bursts
k_acc = 1.5 # Weight given to physical foot displacement
k_emg = 4.0 # Weight given to muscle contraction intensity

# Data recording
recorder_buffer_seconds: 120
static_rest_duration: 2.5
static_ready_duration: 1.5
static_go_duration: 2.0
break_duration: 60.0
break_duration_volt: 15.0
trial_break_interval: 80
trial_break_int_volt: 10

# Feature extraction
height_percentile: 98
min_distance: 3
feature_cutoff_freq: 80
feature_window: 4
features: ['max_amplitude']

# GPBO 
iterations: 40
repetitions: 10
num_rand: 1
kappa: 3.0
AF_name: "UCB" # "NEI", "EI", "UCB"
noise_level: 0.05
parameters: ['dutycycle', 'frequency']
dutycycles: [0.1, 0.3, 0.5, 0.7, 0.9]
frequencies: [20, 30, 40, 50, 60]

# stimulator
gpio_chip: "/dev/gpiochip4"
gpio_pin: 12
stim_default_duration: 2.0
stim_duration_mapping:
  0.3: 2.0
  0.7: 2.5
  1.1: 3.0
  1.5: 3.5

# calibrator
n_calb_reps: 3
no_stim_reps: 5
n_calb_volt_reps: 10
n_calb_combos: 4