# Web connection
host_IPv4: "0.0.0.0"       # allows RPi to be reached from any network
heartbeat_settings:        # server ping interval, heartbeat timeout
  connected: [3, 6]
  pending: [10, 30]
  failed: [10, 30]
  none: [10, 30]

# Board setup
is_synthetic: false
num_trials: 1
default_serial_port: "/dev/ttyACM0"
serial_port_A: "/dev/ttyACM0"
serial_port_B: ""
mac_address: "2C:CF:67:E2:E9:AC"          # YAML uses 'null' for Python's None
num_emg_ch: 1
num_accel_ch: 3
selected_channels: [0]

# Data processing
data_acq_buffer_seconds: 2
num_points: 40
board_data_timeout: 1.0

# EMG signal filterings
cutoff_freq: 50
cutoff_order: 4

# Data recording
recorder_buffer_seconds: 120
marker_interval: 6

# Feature extraction
height_percentile: 98
min_distance: 3
feature_cutoff_freq: 80
features: ['max_amplitude']

# GPBO 
is_calibrated: false
iterations: 40
repetitions: 10
num_rand: 1
kappa: 3.0
AF_name: "UCB" # "NEI", "EI", "UCB"
noise_level: 0.05
parameters: ['dutycycle', 'frequency']
dutycycles: [0.1, 0.3, 0.5, 0.7, 0.9]
frequencies: [20, 30, 40, 50, 60]

# stimulator
gpio_chip: "/dev/gpiochip4"
gpio_pin: 12
duration: 2.5