# Ignore virtual environment folders
venv_basic_emg/
env_basic_emg/
.venv_basic_emg/
.env_basic_emg/

venv/
env/
.venv/
.env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system or editor files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore EMG CSV files
emg-recordings/